.socialmedia{
    display:flex;
    margin-top: 0.85em;
    align-items: center;
    justify-content: flex-end;
}

.icononeimg{
    width: 40%;
    -webkit-filter : hue-rotate(180deg);
    filter : hue-rotate(180deg);
}

.iconimg{
    width: 35%;
    filter: opacity(0.5) drop-shadow(0 0 0 white);
    margin-right: 25px;
}

.icononeimg:hover{
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(230, 34, 181));
}

.iconimg:hover{
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(230, 34, 181));
}

a:link, a:visited, a:active {
    width: 5%;
}