*{
    font-family: calibri;
}

.containerfilter{
    margin-top: 0px;
    display:grid;
    grid-template-columns: 150px 150px 100px;
    justify-content: center;
    text-align: center;
}

.title{
    color:black;
    font-style: italic;
    font-size: 15px;
}

.select{
    width: 80%;
    padding: 2px 3px;
    border:  1px solid rgba(136, 1, 80, 0.911);
    border-radius: 4px;
    background-color: rgb(250, 223, 247);
    margin-bottom: 5px;
}

.button{
    margin-top: 1.3em;
    border-color: transparent;
    border-radius: 30px 30px 30px 30px;
    color:white;
    font-family: calibri;
    background-color: #ed5bf0;
    height: 2em;
}

.button:hover{
    background-color: #744E72;
    cursor: pointer;
    color:white;
}