.content{
    height:40vh;
}

.title{
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.6rem;
    font-style: italic;
    opacity: 0.75;
    margin-bottom: 0px;
}

.notfound{
    margin-bottom: 1rem;
    width:25%;
}

.button{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    border-color: transparent;
    border-radius: 30px 30px 30px 30px;
    color:white;
    font-family: calibri;
    background-color: #ed5bf0;
    height: 2em;
}

.button:hover{
    background-color: #744E72;
    cursor: pointer;
    color:white;
}